converters/*.mp4
converters/*.bag

arucoTest/build/*
arucoTest/.vscode/*

*/build/*

pdfs/*
*.pyc

*pdf_*.py
.vscode/.ropeproject/*
makeDepthMaps/*/*.png
makeDepthMaps/.vscode/settings.json
makeDepthMaps/*/*.pfm
practice/cmake/build/*
practice/expressions/expressions
practice/duals/duals
